<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/images/Final SwiftBite Logo.png"
    />

    <title>SwiftBite || Monitoring Page</title>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="dashboard-container">
      <%-include("../partials/aside.ejs") %>
      <h1>Monitoring</h1>
    </div>
  </body>
</html>
