<h1>Welcome,</h1>
<p>Please select your role to continue:</p>
<form action="/set-role" method="POST">
    <button name="role" value="customer" type="submit">I am a Customer</button>
    <!-- <button name="role" value="staff" type="submit">I am Staff</button> -->
</form>