<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>SwiftBite Login</title>
  </head>
  <body>
    <% if (locals.message) { %>
      <div class="userExist">
      <p><%= message %></p>
    </div>
    <% } %>

    <% if (error.length > 0) { %>
       <div class="userExist">
        <p><%= error %></p>
       </div>
    <% } %>
  
    <div class="container">
      <div class="login-section">
        <img
          src="/images/Final SwiftBite Logo.png"
          alt="SwiftBite Logo"
          class="logo"
        />
        <h2>Log in</h2>

        <form action="/login" method="post">
          <div class="input-group">
            <label for="email">Email</label>
            <div class="input-wrapper">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter your email"
              />
              <span id="tick" class="valid-tick">✓</span>
            </div>
          </div>

          <div class="input-group">
            <label for="password">Password</label>
            <div class="input-wrapper">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="••••••••"
              />
              <button type="button" id="togglePassword" class="view-toggle-btn">
                <i class="fa-solid fa-eye-slash"></i>
              </button>
            </div>
          </div>

          <div class="remember-me">
            <span>Remember me on this device</span>
            <label class="switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>

          <button id="continueBtn"  type="submit" class="continue-btn" disabled>
            Continue
          </button>

         
        </form>

        <div class="divider"><span>or</span></div>

          <form action="/google/auth">
            <button type="submit" class="google-btn">
              <img src="/images/Google.png" alt="Google G" />
              Continue with Google
            </button>
          </form>

         <p class="login-link">
            Do not have an account? <a href="/singup">Sign Up</a>
          </p>
      </div>

      <div class="feature-section">
        <div class="carousel-container">
          <div class="carousel-track" id="carouselTrack">
            <div class="carousel-item">
              <div class="feature-icon">
                <img
                  src="/images/Male_africanamerican_chef.png"
                  alt="Male africanamerican chef"
                />
              </div>
              <h3>One account for all bites</h3>
              <p>Manage all your SwiftBite partner accounts in one place.</p>
            </div>

            <div class="carousel-item">
              <div class="feature-icon">
                <img src="/images/secure.png" alt="Male africanamerican chef" />
              </div>
              <h3>Secure and Fast</h3>
              <p>Experience one-tap access to modern payments.</p>
            </div>
          </div>
        </div>
        <div class="carousel-dots">
          <span class="dot active"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>

    <script src="/secipts/script.js"></script>
  </body>
</html>
